# IE6400 Foundations for Data Analytics Engineering
# Fall 2023

### Module 1: Basic of Python - Part 1

#### Exercise 1.1 Creating Variables and Output Variables

In [1]:
x = 1 # x is of type int
print(x)

1

In [2]:
y = "NEU" # y is now of type str
print(y)

NEU

In [3]:
x = "University"
print("Northeastern " + x)

Northeastern University

In [4]:
x = 5
y = 10
print(x + y)

15

In [5]:
x = "Northeastern "
y = "University"
z =  x + y
print(z)

Northeastern University

In [6]:
x = "Data"
y = "Analytics"
z = "Engineering"

print(x, y, z)

Data Analytics Engineering

In [7]:
x = 5
y = "John"
print(x, y)

5 John

#### Exercise 1.2 Casting

In [8]:
x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3

print(x)
print(y)
print(z)

1
2
3

In [9]:
x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("4.2") # w will be 4.2

print(x)
print(y)
print(z)
print(w)

1.0
2.8
3.0
4.2

In [10]:
x = str("S1") # x will be 's1'
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0'

print(x)
print(y)
print(z)

S1
2
3.0

In [11]:
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0

print(x)
print(y)
print(z)

3
3
3.0

#### Exercise 1.3 Getting the Type

In [12]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex
name = "Northeastern University"

print(type(x))
print(type(y))
print(type(z))
print(type(name))

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'str'>

In [13]:
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

In [14]:
x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [15]:
x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [16]:
x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

#### Exercise 1.4 Single or Double Quotes?

In [17]:
x = "John"
print(x)
# double quotes are the same as single quotes:
x = 'John'
print(x)

John
John

#### Exercise 1.5 Case-Sensitive

In [18]:
a = 4
A = "Sally"

print(a)
print(A)

4
Sally

#### Exercise 1.6 Many Values to Multiple Variables

In [19]:
x, y, z = "Orange", "Banana", "Cherry"

print(x)
print(y)
print(z)

Orange
Banana
Cherry

#### Exercise 1.7 One Value to Multiple Variables

In [20]:
x = y = z = "Orange"

print(x)
print(y)
print(z)

Orange
Orange
Orange

#### Exercise 1.8 Unpack a Collection

In [21]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits

print(fruits)
print(x)
print(y)
print(z)

['apple', 'banana', 'cherry']
apple
banana
cherry

#### Exercise 1.9 Create a variable outside of a function, and use it inside the function

In [22]:
x = "University"

def myfunc():
    print("Northeastern " + x)

myfunc()

Northeastern University

In [23]:
x = "University"

def myfunc():
    x = "College"
    print("Northeastern " + x)

myfunc()

print("Northeastern " + x)

Northeastern College
Northeastern University

#### Exercise 1.10 The global Keyword

In [24]:
def myfunc():
    global x
    x = "University"

myfunc()

print("Northeastern " + x)

Northeastern University

In [25]:
x = "College"

def myfunc():
    global x
    x = "University"

myfunc()

print("Northeastern " + x)

Northeastern University

#### Exercise 1.11 Multiline Strings

In [26]:
a = """DAE Program,
Northeastern University,
Boston Campus
USA."""

print(a)

DAE Program,
Northeastern University,
Boston Campus
USA.

In [27]:
a = '''DAE Program,
Northeastern University,
Boston Campus
USA.'''

print(a)

DAE Program,
Northeastern University,
Boston Campus
USA.

#### Exercise 1.12 Strings are Arrays

In [28]:
a = "Northeastern University"
print(a[13])

U

#### Exercise 1.13 Looping Through a String

In [29]:
for x in "NORTHEASTERN":
    print(x)

N
O
R
T
H
E
A
S
T
E
R
N

#### Exercise 1.14 String Length

In [30]:
a = "NORTHEASTERN"
print(len(a))

12

#### Exercise 1.15 Check String

In [31]:
txt = "Data Analytics Engineering"
print("Engineering" in txt)

True

In [32]:
txt = "Data Analytics Engineering"
if "Engineering" in txt:
    print("Yes, 'Engineering' is present.")

Yes, 'Engineering' is present.

#### Exercise 1.16 Check if NOT

In [33]:
txt = "Data Analytics Engineering"
print("NEU" not in txt)

True

In [34]:
txt = "Data Analytics Engineering"
if "NEU" not in txt:
    print("No, 'NEU' is NOT present.")

No, 'NEU' is NOT present.

#### Exercise 1.16 Slicing Strings
Get characters form position 7 to position 12:
Note: The first charcter has an index of 0. The end position is not included.

In [35]:
b = "Hello, World!"
print(b[7:12])

World

#### Exercise 1.17 Slice From the Start

In [36]:
b = "Hello, World!"
print(b[:5])

Hello

#### Exercise 1.18 Slice To the End

In [37]:
b = "Hello, World!"
print(b[7:])

World!

#### Exercise 1.19 Negative Indexing

In [38]:
b = "DataAnalyticsEngineering"
print(b[-20:-11])

Analytics

#### Exercise 1.20 Modify Strings

In [39]:
a = "Northeastern University"
print(a.upper())

NORTHEASTERN UNIVERSITY

In [40]:
a = "NORTHEASTERN UNIVERSITY"
print(a.lower())

northeastern university

#### Remove Whitespace

 Whitespace is the space before and/or after the actual text, and very often you want to remove this space.

 The strip method removes any whitespace from the beginning or the end:

In [41]:
a = "  Northeastern University   "
print(a)
print(a.strip())

  Northeastern University
Northeastern University

In [42]:
a = "Northeastern University"
print(a.replace("University", "College"))

Northeastern College

In [46]:
a = "DAE,Northeastern University"
print(a.split(","))

['DAE', 'Northeastern University']

#### Exercise 1.21 String Concatenation

In [47]:
a = "Northeastern"
b = "University"
c = a + b
print(c)

NortheasternUniversity

In [48]:
a = "Northeastern"
b = "University"
c = a + " " + b
print(c)

Northeastern University

#### Exercise 1.22 String Format

In [49]:
age = 2025
txt = "We are the DAE student, and we are the class of {}"
print(txt.format(age))

We are the DAE student, and we are the class of 2025

In [50]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item 567 for 49.95 dollars.

In [51]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))

I want to pay 49.95 dollars for 3 pieces of item 567.

#### Exercise 1.23 Escape Character

In [52]:
txt = "We are the so-called \"Husky\" at Northeastern University."
print(txt)

We are the so-called "Husky" at Northeastern University.

#### Exercise 1.24 Boolean Values

In [53]:
1==2

False

In [54]:
x="aBC"
y="ABC"
x==y

False

In [56]:
# Createing X variable where x = 2
x=2

In [57]:
x<1 and x>3

False

In [58]:
x<1 and x==3

False

In [59]:
x<1 or x==2

True

In [60]:
x=1
y=2
x is y

False

In [61]:
x="abcd"
y="abc"
x in y

False

#### Exercise 1.25 Arithmetic Operators

In [62]:
1+1

2

In [63]:
2**3

8

In [64]:
2*3

6

#### Exercise 1.26 Assignment Operators

In [65]:
x = 5
print(x)

5

In [66]:
x += 3    # x = 5 + 3
print(x)

8

In [67]:
x /= 8   # x = 8 / 8
print(x)

1.0

#### Exercise 1.27 Comparison Operators

In [68]:
1 == 2

False

In [69]:
1 != 2

True

In [70]:
1 < 2

True

In [71]:
x = "aBC"
y = "ABC"
x == y

False

#### Exercise 1.28 Creating a list

In [72]:
thislist = [100,200,300,400,500,600,700,800,900]
print(thislist)

[100, 200, 300, 400, 500, 600, 700, 800, 900]

In [73]:
thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

In [74]:
thislist = ["apple", "banana", "cherry"]
type(thislist)

list

In [75]:
thislist = [1,2,3]
type(thislist)

list

#### Exercise 1.29 Allow Duplicates

In [76]:
thislist = ["apple", "banana", "cherry", "apple", "cherry"]
print(thislist)

['apple', 'banana', 'cherry', 'apple', 'cherry']

#### Exercise 1.30 List Length

In [77]:
thislist = ["apple", "banana", "cherry"]
print(len(thislist))

3

#### Exercise 1.31 List Items - Data Types

In [78]:
list1 = ["apple", "banana", "cherry"]
print(list1)

['apple', 'banana', 'cherry']

In [79]:
list2 = [1, 5, 7, 9, 3]
print(list2)

[1, 5, 7, 9, 3]

In [80]:
list3 = [True, False, False]
print(list3)

[True, False, False]

In [81]:
list4 = ["abc", 34, True, 40, "male"]
print(list4)

['abc', 34, True, 40, 'male']

#### Exercise 1.32 Access List Items

In [82]:
thislist = ["apple", "banana", "cherry"]
print(thislist[1])

banana

In [83]:
thislist = ["apple", "banana", "cherry"]
print(thislist[-1])

cherry

In [84]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

['cherry', 'orange', 'kiwi']

In [85]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:5])

['apple', 'banana', 'cherry', 'orange', 'kiwi']

In [86]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:])

['cherry', 'orange', 'kiwi', 'melon', 'mango']

In [87]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-4:-1])

['orange', 'kiwi', 'melon']

#### Exercise 1.33 Check if Item Exists

In [88]:
thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
    print("Yes, 'apple' is in the fruits list")

Yes, 'apple' is in the fruits list

#### Exercise 1.34 Change Item Value

In [89]:
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry']

In [90]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

In [91]:
thislist = ["apple", "banana", "cherry"]
thislist[1:2] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'cherry']

In [92]:
thislist = ["apple", "banana", "cherry"]
thislist[1:3] = ["watermelon"]
print(thislist)

['apple', 'watermelon']

#### Exercise 1.35 Insert Items

In [93]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

#### Exercise 1.36 Extend List

In [94]:
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

#### Exercise 1.37 Remove Specified Item

In [95]:
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

In [96]:
thislist = ["apple", "banana", "cherry", "banana", "kiwi"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry', 'banana', 'kiwi']

#### Exercise 1.38 Remove Specified Index

In [97]:
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

['apple', 'cherry']

In [98]:
thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)

['apple', 'banana']

#### Exercise 1.39 Remove the list

In [99]:
thislist = ["apple", "banana", "cherry"]
del thislist

In [100]:
print(thislist)

NameError: name 'thislist' is not defined

#### Exercise 1.40 Clear the List

In [101]:
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

#### Exercise 1.41 Sort Lists

In [102]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [103]:
thislist = [100, 50, 65, 82, 23]
thislist.sort()
print(thislist)

[23, 50, 65, 82, 100]

In [104]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True)
print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [105]:
thislist = [100, 50, 65, 82, 23]
thislist.sort(reverse = True)
print(thislist)

[100, 82, 65, 50, 23]

#### Exercise 1.42 Reverse Order

In [106]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.reverse()
print(thislist)

['cherry', 'Kiwi', 'Orange', 'banana']

#### Exercise 1.43 Copy a List

In [107]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']

In [108]:
thislist = ["apple", "banana", "cherry"]
mylist = list(thislist)
print(mylist)

['apple', 'banana', 'cherry']

#### Exercise 1.44 Join Lists

In [109]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

Append list2 into list1

In [110]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
    list1.append(x)

print(list1)

['a', 'b', 'c', 1, 2, 3]

In [111]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]

-----

Revised Date: Sep 12th, 2023