# IE6400 Foundations for Data Analytics Engineering
# Fall 2023

### Module 1: Basic of Python - Part 2

#### Exercise 2.1 Create a Tuple

In [1]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

In [2]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

In [3]:
thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

3

In [4]:
thistuple = ("apple",)
print(type(thistuple))

<class 'tuple'>

In [5]:
#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'str'>

In [6]:
tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)

print(tuple1)
print(tuple2)
print(tuple3)

('apple', 'banana', 'cherry')
(1, 5, 7, 9, 3)
(True, False, False)

In [7]:
tuple1 = ("abc", 34, True, 40, "male")

print(tuple1)

('abc', 34, True, 40, 'male')

#### Exercise 2.2 The tuple Constructor

In [8]:
thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple)

('apple', 'banana', 'cherry')

#### Exercise 2.3 Access Tuple Items

In [9]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

In [10]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])

cherry

In [11]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

In [12]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[:4])

('apple', 'banana', 'cherry', 'orange')

In [13]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:])

('cherry', 'orange', 'kiwi', 'melon', 'mango')

In [14]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[-4:-1])

('orange', 'kiwi', 'melon')

#### Exercise 2.4 Check if Item Exists

In [15]:
thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
    print("Yes, 'apple' is in the fruits tuple")

Yes, 'apple' is in the fruits tuple

#### Exercise 2.5 Change Tuple Values

In [16]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

#### Exercise 2.6 Add Items

In [17]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [18]:
thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

#### Exercise 2.7 Remove Items

In [19]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)

print(thistuple)

('banana', 'cherry')

#### Exercise 2.8 Unpacking a Tuple

In [20]:
fruits = ("apple", "banana", "cherry")

print(fruits)

('apple', 'banana', 'cherry')

In [21]:
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

In [24]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

In [25]:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

#### Exercise 2.9 Loop Through a Tuple

In [22]:
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
    print(x)

apple
banana
cherry

In [23]:
thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
    print(thistuple[i])

apple
banana
cherry

#### Exercise 2.10 Using a While Loop

In [26]:
thistuple = ("apple", "banana", "cherry")
i = 0
while i < len(thistuple):
    print(thistuple[i])
    i = i + 1

apple
banana
cherry

#### Exercise 2.11 Join Two Tuples

In [27]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

#### Exercise 2.12 Multiply Tuples

In [28]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

#### Exercise 2.13 Creating a set

In [29]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'cherry', 'banana', 'apple'}

#### Exercise 2.14 Duplicates Not Allowed

In [30]:
thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

{'cherry', 'banana', 'apple'}

In [31]:
thisset = {"apple", "banana", "cherry", True, 1, 2}

print(thisset)

{'cherry', True, 2, 'apple', 'banana'}

#### Exercise 2.15 Get the Length of a Set

In [32]:
thisset = {"apple", "banana", "cherry"}

print(len(thisset))

3

#### Exercise 2.16 Set Items - Data Types

In [33]:
set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}

print(set1)
print(set2)
print(set3)

{'cherry', 'banana', 'apple'}
{1, 3, 5, 7, 9}
{False, True}

In [34]:
set1 = {"abc", 34, True, 40, "male"}
print(set1)

{True, 34, 40, 'male', 'abc'}

#### Exercise 2.17 Access Items

In [35]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
    print(x)

cherry
banana
apple

In [36]:
thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

True

#### Exercise 2.18 Add Items

In [37]:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'cherry', 'banana', 'orange', 'apple'}

#### Exercise 2.19 Add Sets

In [38]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

{'cherry', 'pineapple', 'papaya', 'mango', 'apple', 'banana'}

#### Exercise 2.20 Remove Item

In [39]:
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

{'cherry', 'apple'}

In [40]:
thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)

{'cherry', 'apple'}

In [41]:
thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x)

print(thisset)

cherry
{'banana', 'apple'}

In [42]:
thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

set()

#### Exercise 2.21 Join Two Sets

In [43]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{'c', 1, 2, 3, 'b', 'a'}

In [44]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{'c', 1, 2, 3, 'b', 'a'}

#### Exercise 2.22 Keep ONLY the Duplicates

In [45]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y)

print(x)

{'apple'}

In [46]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.intersection(y)

print(z)

{'apple'}

#### Exercise 2.23 Keep All, But NOT the Duplicates

In [47]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.symmetric_difference_update(y)

print(x)

{'cherry', 'microsoft', 'google', 'banana'}

In [48]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.symmetric_difference(y)

print(z)

{'cherry', 'microsoft', 'google', 'banana'}

In [49]:
x = {"apple", "banana", "cherry", True}
y = {"google", 1, "apple", 2}

z = x.symmetric_difference(y)

print(z)

{2, 'cherry', 'google', 'banana'}

#### Exercise 2.24 Creating a dictionary

In [50]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

#### Exercise 2.25 Dictionary Items

In [51]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

print(thisdict["brand"])

Ford

#### Exercise 2.26 Duplicates Not Allowed

In [52]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}

print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

#### Exercise 2.27 Dictionary Length

In [53]:
print(len(thisdict))

3

#### Exercise 2.28 Accessing Items

In [54]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = thisdict["model"]
print(x)

Mustang

In [55]:
x = thisdict.get("model")
print(x)

Mustang

#### Exercise 2.29 Get Keys

In [56]:
x = thisdict.keys()
print(x)

dict_keys(['brand', 'model', 'year'])

In [57]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.keys()

print("Before: ", x) #before the change

car["color"] = "white"

print("After: ", x) #after the change

Before:  dict_keys(['brand', 'model', 'year'])
After:  dict_keys(['brand', 'model', 'year', 'color'])

#### Exercise 2.30 Get Values

In [58]:
x = thisdict.values()
print(x)

dict_values(['Ford', 'Mustang', 1964])

In [59]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.values()

print("Before: ", x) #before the change

car["year"] = 2020

print("After: ", x) #after the change

Before:  dict_values(['Ford', 'Mustang', 1964])
After:  dict_values(['Ford', 'Mustang', 2020])

In [60]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.values()

print("Before: ", x) #before the change

car["color"] = "red"

print("After: ", x) #after the change

Before:  dict_values(['Ford', 'Mustang', 1964])
After:  dict_values(['Ford', 'Mustang', 1964, 'red'])

#### Exercise 2.31 Get Items

In [61]:
x = thisdict.items()
print(x)

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])

In [62]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.items()

print("Before: ", x) #before the change

car["year"] = 2020

print("After: ", x) #after the change

Before:  dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])
After:  dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 2020)])

In [63]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.items()

print("Before: ", x) #before the change

car["color"] = "red"

print("After: ", x) #after the change

Before:  dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])
After:  dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964), ('color', 'red')])

#### Exercise 2.32 Check if Key Exists

In [64]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
if "model" in thisdict:
    print("Yes, 'model' is one of the keys in the thisdict dictionary")

Yes, 'model' is one of the keys in the thisdict dictionary

#### Exercise 2.33 Change Values

In [65]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

print("Before: ", thisdict) #before the change

thisdict["year"] = 2018

print("After: ", thisdict) #after the change

Before:  {'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
After:  {'brand': 'Ford', 'model': 'Mustang', 'year': 2018}

#### Exercise 2.34 Update Dictionary

In [66]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

print("Before: ", thisdict) #before the change

thisdict.update({"year": 2020})

print("After: ", thisdict) #after the change

Before:  {'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
After:  {'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

#### Exercise 2.35 Removing Items

In [67]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

print("Before: ", thisdict) #before the change

thisdict.pop("model")

print("After: ", thisdict) #after the change

Before:  {'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
After:  {'brand': 'Ford', 'year': 1964}

In [68]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

print("Before: ", thisdict) #before the change

thisdict.popitem()

print("After: ", thisdict) #after the change

Before:  {'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
After:  {'brand': 'Ford', 'model': 'Mustang'}

In [69]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

thisdict.clear()
print(thisdict)

{}

#### Exercise 2.36 Copy a Dictionary

In [70]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = thisdict.copy()
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [71]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = dict(thisdict)
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

#### Exercise 2.37 Nested Dictionaries

In [ ]:
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}

print(myfamily)

In [ ]:
child1 = {
  "name" : "Emil",
  "year" : 2004
}
child2 = {
  "name" : "Tobias",
  "year" : 2007
}
child3 = {
  "name" : "Linus",
  "year" : 2011
}

myfamily = {
  "child1" : child1,
  "child2" : child2,
  "child3" : child3
}

print(myfamily)

#### Exercise 2.38 Access Items in Nested Dictionaries

In [ ]:
print(myfamily["child2"]["name"])

In [ ]:
print(myfamily["child3"]["year"])

-----

Revised Date: Sep 15th, 2023